<ion-view view-title="Tabungan">
  <ion-content style="overflow-x:auto;overflow-y:auto" scrollbar-x="true" direction="xy">
    <table id="table1">
      <tr>
        <th ng-repeat="dt1 in table">{{dt1.th}}</th>
      </tr>
      <tr ng-repeat="dt in materialchangelog">
        <td ng-repeat="dt1 in table">{{dt[dt1.td]}}</td>
      </tr>
    </table>
  </ion-content>
  <ion-footer-bar class="bar-stable">
      <div class="button-bar">
          <a class="button icon-right ion-calendar button-positive" ng-click="openDatePickerOne()">Select Date</a>
          <a class="button icon-left ion-ios-paper button-balanced" ng-click="exportToExcel('#table1')">Export To Excel</a>
        </div>
    </ion-footer-bar>
    <!--
  <div class="bar bar-footer bar-stable">
      <div class="button-bar">
        <a class="button icon-right ion-calendar button-positive" ng-click="openDatePickerOne()">Select Date</a>
        <a class="button icon-left ion-ios-paper button-balanced" ng-click="exportToExcel('#table5')">Export To Excel</a>
      </div>
    </div>
  -->
</ion-view>