<ion-view view-title="Update Material Remain">
  <ion-content style="overflow-x:auto;overflow-y:auto" scrollbar-y="true" scrollbar-x="true" direction="xy">
    <div class="row responsive-md">
      <div class="col">
        <div class="item-text-wrap">
          <div class="list">
            <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="text" placeholder="Search" ng-change="getDt(dt)" ng-model="dt">
              </label>

            <form name="myForm" novalidate>
              <div class="item item-divider">
                Part No : {{material.PARTNUMBER}}
              </div>
              <div class="item">
                Cart No : {{material.CARTNUMBER}} | User Size : {{material.USERSIZE}}
              </div>
              <div class="item">
                Date Produced : {{material.DATEPRODUCED}} at {{material.TIMEPRODUCED}} | Status : {{getStatusCart(material.CARTSTATUS)}}
              </div>
              <div class="item">
                Actual : {{material.ACTUAL}} | Remain : {{material.REMAIN | number:0}} | Edit :
                <input type="number" name="editremain" ng-model="editremain.num" min="0" max="{{maxRemain}}" required ng-disabled="!canupdate">
              </div>
              <!--
              <div class="item range range-positive">
                <i>0</i>
                <input type="range" min="0" max="{{material.ACTUAL}}" ng-model="editremain.num">
                <i>{{material.ACTUAL}}</i>
              </div>
              -->
              <div class="item" ng-show="myForm.$valid">
                <button class="button button-positive button-block" ng-click="updateDt()" ng-disabled="!canupdate">
                  Update                 
                </button>
                <ion-spinner icon="spiral" ng-show="isLoading"></ion-spinner>
              </div>
          </div>
          </form>

          <p ng-show="myForm.editremain.$invalid" class="assertive">* Edit Remain must between {{minRemain}} to {{maxRemain}}</p>
        </div>
        <table>
            <tr>
              <th ng-repeat="dt in table">{{dt.th}}</th>
            </tr>
            <tr ng-repeat="dt in materialchangelog">
              <td ng-repeat="dt1 in table">{{dt[dt1.td]}}</td>
            </tr>
          </table>
      </div>
      <div class="col">
        max update {{maxupdatefreq}} x
        <br>
        <table>
          <tr>
            <th>Material Name</th>
            <th>Maximum Edit Remain</th>
          </tr>
          <tr ng-repeat="dt in maximumremaininputs">
            <td>{{dt.text}}</td>
            <td>{{dt.val}}</td>
          </tr>
        </table>
        

      </div>
    </div>
  </ion-content>
</ion-view>